@import url('https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-family: "Special Gothic", sans-serif;
    font-weight: 400;
}

body {
    background-color: #000000;
    background-image: url("wallpapers/night_storm_background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    cursor: url("assets/cursor.png") 1 1, auto;
}

a {
    cursor: url("assets/pointer.png") 6 1, pointer;
}

@keyframes popOut {
    0% {
        transform: scale(0.75);
        opacity: 0%;
    }
    100% {
        transform: scale(1);
        opacity: 100%;
    }
}

@keyframes closeAnim {
    0% {
        transform: scale(1);
        opacity: 100%;
    }
    100% {
        transform: scale(0.75);
        opacity: 0%;
    }
}

.close-anim {
    animation: closeAnim 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards !important;
}

.pop-out-anim {
    animation: popOut 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

.appWindow {
    width: 600px;
    height: 500px;
    background-color: #222222;
    color: #202020;
    display: flex;
    position: absolute;
    top: 50px;
    left: 50px;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    border: #363636 1px solid;
    min-width: 100px;
    min-height: 100px;
}

@media (max-width: 768px) {
    .appWindow {
        width: calc(100% - 4px) !important;
        height: calc(100% - 4px - 48px) !important;
    }

    .bar {
        height: 64px !important;
    }

    .close {
        width: 64px !important;
        height: 64px !important;
    }    
}

.bar {
    height: 32px;
    width: 100%;
    background-color: #131313;
    user-select: none !important;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.linkBtn {
    pointer-events: all;
    background-image: url("assets/link.png");
    background-size: cover;
    width: 32px;
    height: 32px;
    user-select: none !important;
    border-right: #363636 1px solid;
}

.linkBtn:hover {
    filter: brightness(50%);
}

.minimize {
    pointer-events: all;
    background-image: url("assets/minimize.png");
    background-size: cover;
    width: 32px;
    height: 32px;
    user-select: none !important;
}

.minimize:hover {
    filter: brightness(50%);
}

.close {
    pointer-events: all;
    background-image: url("assets/close.png");
    background-size: cover;
    width: 32px;
    height: 32px;
    user-select: none !important;
}

.close:hover {
    filter: brightness(50%);
}

.appArea {
    margin: 0;
    width: 100%;
    height: calc(100% - 32px);
    overflow: scroll;
    border: none;
}

.resize {
    pointer-events: all;
    background-image: url("assets/resize.png");
    background-size: cover;
    opacity: 25%;
    width: 32px;
    height: 32px;
    user-select: none !important;
    position: absolute;
    bottom: 0;
    right: 0;
    cursor: se-resize;
}

.grid {
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 90px); /* Fixed column width */
    grid-template-rows: repeat(auto-fill, 110px); /* Fixed row height */
    grid-auto-flow: column dense; /* Flow downwards first, then wrap into columns */
    gap: 10px; /* Spacing between items */
    max-height: 97vh; /* Constrain grid height */
    user-select: none;
}

.icon {
    font-size: 14px;
    width: 90px;
    height: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: url("assets/pointer.png") 6 1, pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.75s;
    text-decoration: none;
}

.icon:hover {
    scale: 1.1;
    text-decoration: underline;
}

.icon:active {
    scale: 0.9;
}

.icon > img {
    width: 70px;
    height: 70px;
    padding-bottom: 8px;
}

.icon > p {
    background-color: #00000070;
    text-align: center;
}

.external {
    width: 16px;
}

#watermark {
    z-index: 1000;
    position: fixed;
    bottom: 16px;
    right: 24px;
    opacity: 25%;
    text-align: right;
    user-select: none;
    pointer-events: none;
}

.appTitle {
    margin-top: 6px;
    margin-left: 36px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000063;
    font-size: 14px;
}

.appIcon {
    margin-top: 1px;
    margin-left: 1px;
    position: absolute;
    left: 0;
    top: 0;
    width: 28px;
    height: 28px;
    background-size: cover;
}

.link {
    color: #f29aff;
    cursor: url("assets/pointer.png") 6 1, pointer;
}

.drag {
    background-color: #cb65db78;
    border: #f29aff solid 2px;
    width: 0px;
    height: 0px;
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 100%;
    user-select: none;
    pointer-events: none;
}

.fadeOutAnim {
    animation: fade-out-anim 0.25s linear forwards !important;
}

@keyframes fade-out-anim {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.no-theme-warning {
    display: none;
}

#taskbar {
    position: fixed;
    bottom: 0;
    height: 48px;
    width: 100%;
    background-color: #131313;
    border-top: #363636 1px solid;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.task {
    width: 240px;
    height: 100%;
    border-bottom: #f29aff solid 4px;
    box-sizing: border-box;
    animation: taskOpen 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards !important;
    overflow: hidden;
    display: flex;
    align-items: center;
    margin-right: 2px;
    background-color: #222222;
    user-select: none;
    transition: ease 0.1s;
}

.task:hover {
    cursor: url("assets/pointer.png") 6 1, pointer;
    background-color: #333333;
}

.taskHidden {
    background-color: #131313 !important;
    border-bottom: #a9a9a9 solid 4px !important;
}

.taskHidden:hover {
    background-color: #222222 !important;
}

.task-close-anim {
    animation: taskClose 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards !important;
}

@keyframes taskClose {
    0% {
        width: 240px;
    }
    100% {
        width: 0px;
    }
}

@keyframes taskOpen {
    0% {
        width: 0px;
    }
    100% {
        width: 240px;
    }
}

.taskIcon {
    margin-left: 8px;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    background-size: cover;
    flex: 0 0 auto;
}

.taskTitle {
    font-size: 14px;
    white-space: nowrap;
    flex: 0 0 auto;
    pointer-events: none;
}

.window-hide-anim {
    animation: windowHide 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards !important;
}

.window-show-anim {
    animation: windowShow 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards !important;
}

.window-focus-anim {
    animation: windowFocus 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards !important;
}

@keyframes windowShow {
    0% {
        transform: translateY(25vh);
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes windowHide {
    0% {
        transform: translateY(0px);
        opacity: 100%;
    }
    100% {
        transform: translateY(25vh);
        opacity: 0%;
    }
}

@keyframes windowFocus {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(105%);
    }
    100% {
        transform: scale(100%);
    }
}

.notifBox {
    position: fixed;
    width: 400px;
    bottom: 64px;
    right: 16px;
    background-color: #1B1B1B;
    border: #af68ba 1px solid;
    animation: slideIn 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards !important;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@keyframes slideIn {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0px);
    }
}

.notifClose {
    pointer-events: all;
    background-image: url("assets/close.png");
    background-size: cover;
    width: 32px;
    height: 32px;
    user-select: none !important;
    filter: brightness(100%);
}

.notifClose:hover {
    filter: brightness(50%);
}

.notifBoxTitleArea {
    height: 32px;
    width: 100%;
    background-color: #131313;
    user-select: none !important;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.notifTitle {
    margin-top: 6px;
    margin-left: 6px;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00000063;
    font-size: 14px;
}

.notifContent {
    margin-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
}

.slide-out-anim {
    animation: slideOut 0.25s cubic-bezier(0.075, 0.82, 0.165, 1) forwards !important;
}

@keyframes slideOut {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(500px);
    }
}