/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("Tighnari_Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

p {
    color: rgb(226, 226, 226);
}

h2 {
    color: white;
}

@font-face {
    font-family: "Quicksand";
    src: url("Quicksand-Regular.ttf") format("truetype");
}
  
  /* Center the content vertically and horizontally */
.container {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This makes the container take up the full viewport height */
    font-family: "Quicksand", sans-serif; /* Fallback to a sans-serif font if Quicksand isn't available */
    font-size: 28px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 25px;

    /* Adjust the width and center the container */
    width: 75%;
    margin: 0 auto; /* Center the container horizontally */
}
  
.sticker {
    margin-bottom: 20px;
    margin-top: 80px;
}

.artwork {
    margin: 20px;
    max-width: 300px;
}

.image-container {
    float: left;
    margin-right: 10px;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}
  
  /* Style for the buttons */
button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 20px 40px;
    margin: 5px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

a {
    
}