* {
    padding: 0;
    margin: 0;
    font-family: "MS PGothic", "ＭＳ Ｐゴシック", sans-serif;
    color: #efefef;
}

a, a > b {
    text-decoration: none;
    color: rgb(213, 84, 217);
}

a:hover {
    color: #a9a9a9;
    cursor: pointer;
}

body {
    min-height: 100vh;
    background-image: url(bg2.jpg);
	background-color: #000;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: center top;
}

.main {
    min-width: 960px;
    width: 960px;
    height: fit-content;
    border: 1px #898989 solid;
    margin: 0 auto;
    background-color: #181A1B;
    margin-bottom: 64px;
}

.banner {
    width: 100%;
}

.title {
    margin-top: 32px;
    margin-left: 32px;
    font-size: 20px;
    font-weight: bold;
}

.big {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8px;
}

.footer {
    margin-top: 16px;
    padding: 2px;
    color: #FFF;
    text-align: center;
    background-color: #000;
}

.releases-page {
    padding: 32px; 
}

.release {
    width: 275px;
    padding: 10px;
    display: inline-block;
}

.cover {
    width: 100%;
}

.center {
    margin-top: 12px;
    font-size: 18px;
    text-align: center;
}

.artist {
    display: flex;
    margin-left: 32px;
    margin-top: 16px;
    padding-right: 32px;
}

.artistImg {
    width: 175px;
    height: 175px;
    margin-right: 16px;
    border: #898989 1px solid;
}

.links {
    margin-top: 8px;
}

.warning {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
}

.warning-bg {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 25%;
    display: none;
}

.msg-box {
    background-color: #181A1B;
    border: #898989 1px solid;
    width: 400px;
    text-align: center;
    padding-top: 32px;
}

.button {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    margin-top: 1px;
}

.button:hover {
    cursor: pointer;
    background-color: #cccccc;
    color: #000000;
}

.buttons {
    margin-top: 32px;
}

.upcoming-card {
    width: 100%;
}

.mascot {
    display: flex;
}

.mascot-img {
    width: 100%;
}

.title-mascot {
    margin-top: 64px;
    margin-bottom: 32px;
}

.mascot-left {
    width: 50%;
}

.mascot-right {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 22px;
}

.mascot-name {
    margin-bottom: 16px;
    width: 75%;
}

.break {
    height: 16px;
}