@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

body {
    background-color: rgb(29, 29, 29);
}

.cosmic-scourge {
    background-image: url("../Cosmic-Scourge/cover-bg.png");
}

.terminal-decay {
    background-image: url("../terminal-decay/cover-bg.png");
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.frame {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 32px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
}

img {
    max-width: 100%;
    box-shadow: 0px 0px 64px 64px rgba(0, 0, 0, 0.5);
}

button {
    margin-top: 24px;
    font-size: 26px;
    border: white solid 2px;
    padding: 6px;
    border-radius: 8px;
    background-color: #4d4d4d;
}

button:hover {
    cursor: pointer;
    background-color: #757575;
}

button:disabled {
    opacity: 25%;
}

.artist {
    margin-top: 16px;
    font-weight: 600;
}

#followMessage {
    color: #878787;
}

h2 {
    margin-bottom: 16px;
}