/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to bottom, #212121, #2b2b2b);
}

html, body {
    height: 100%;
}

.logo {
    width: auto;
    height: calc(100% - 32px);
    position: absolute;
    top: 0;
    left: 0;
    padding: 16px;
}

.header {
    background: linear-gradient(to bottom, #ed83e6, #a45b9f);
    height: 10%;    
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    margin-left: auto;
}

.nav-button {
    display: flex;
    align-items: center;
    height: 256px;
    padding-right: 32px;
    padding-left: 32px;
    font-family: "Quicksand";
    color: white;
}

.selected-button {
    display: flex;
    align-items: center;
    height: 256px;
    padding-right: 32px;
    padding-left: 32px;
    font-family: "Quicksand";
    background-color: white;
    color: black;
}

.nav > a {
    text-decoration: none;
}

.view {
    height: 90%;
    text-align: center;
}

@font-face {
    font-family: "Quicksand";
    src: url("Quicksand-Regular.ttf") format("truetype");
}

.text {
    font-family: "Quicksand";
    color: white;
}

h1 {
    font-size: 36px;
    font-family: "Quicksand";
    color: white;
}

p {
    font-size: 26px;
    font-family: "Quicksand";
    color: white;
    margin-left: 64px;
    margin-right: 64px;
}

.sticker {
    margin: 32px;
}

.socials {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.social {
    border: 2px solid white;
    width: fit-content;
    border-radius: 28px;
    background-color: #212121;
    margin: 8px;
}

.social:hover {
    border: 2px solid #949494;
}

.pixiv {
    max-width: 150px;
    padding: 16px;
}

.twitter {
    max-width: 64px;
    padding: 16px;
}